<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a>
        <img src="https://rukminim1.flixcart.com/image/416/416/k4x2du80/sandwich-maker/z/g/t/borosil-bgrillss22-original-imafhvftadggxfy5.jpeg?q=70" alt="">
        <h6>All products</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img src="https://rukminim1.flixcart.com/image/416/416/k4x2du80/sandwich-maker/z/g/t/borosil-bgrillss22-original-imafhvftadggxfy5.jpeg?q=70" alt="">
        <h6>Hamburgers</h6>
      </a>
    </div>
    <div class="item">
      <a>
        <img src="https://rukminim1.flixcart.com/image/416/416/k4x2du80/sandwich-maker/z/g/t/borosil-bgrillss22-original-imafhvftadggxfy5.jpeg?q=70" alt="">
        <h6>Drink</h6>
      </a>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
      <ng-container *ngFor="let item of productList">
          <div class="card col-md-3">
            <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 100ch;">{{item.name}}</h5>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"></p>
            <img src="https://rukminim1.flixcart.com/image/416/416/k4x2du80/sandwich-maker/z/g/t/borosil-bgrillss22-original-imafhvftadggxfy5.jpeg?q=70" alt="">
            <p><strong>Price: </strong>${{item.price}}</p>
          <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
        </div>
      </ng-container>
  </div>
</div>
